a:link {color: steelblue;text-decoration:none}
a:visitea{color:steelblue;text-decoration: none}
a:hover{color:steelblue;text-decoration: underline;font-weight: 700}
.na{
    width:90%;height:20px;background-color: #eeeeee;
    margin: 5px auto 5px auto;padding-top: 5px;font-size: 14px;
 }
 .a0{float:left;padding: 0 10px 0 5px;}
 .a1{float:left;padding: 0 10px 0 10px;border-left: 1px solid steelblue}
 .b0{float:right;padding: 0 5px 0 10px;}
 .b1{float:right;padding: 0 10px 0 10px;border-right: 1px solid steelblue}
 .b2{float:right;padding: 0 }